# Ignore virtual environments
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore model and dataset files

*.pt
*.h5
*.zip
*.tar
*.tar.gz
*.csv
dataset/
models/
checkpoints/

# Misc
.DS_Store
.idea/
.vscode/
